{% extends "auctions/layout.html" %}

{% block body %}
 
 <div class="container">

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
                {% for listing in listings %}
                {% for row in watchlist_rows %}
                {% if listing.id == row.listing_id %}
                <tr>
                <td>{{listing.title}}</td></a>
                <td><img src="{{listing.image_link}}" width="100"></td>
                <td>{{listing.description}}</td>
                <td><a class="btn btn-primary" href="{% url 'listing' listing.id %}">Visit listing</a></td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>
          </table>
 </div>

{% endblock %}